@model InventoryFinal.Models.Cliente

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear Cliente</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Telefono" class="control-label">Teléfono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaCreacion" class="control-label">Fecha Creación</label>
                <input type="text" value="@DateTime.Now.ToString("dd-MM-yyyy HH:mm")" readonly class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
